.format, body, pre {
  font-family: Comic Sans MS;
  text-align: center;
  padding: 25px;
}

a:link, a:visited {
  color: #0000ee;
  text-decoration: none;
}

.space, pre {
  line-height: 2.0;
}

.size {
  font-size: 20px;
}
