.format, body, pre {
  font-family: Comic Sans MS;
  text-align: center;
}

a:link, a:visited {
  color: #0000ee;
  text-decoration: none;
}

pre {
  line-height: 1.5
}

img {
  padding: 20px;
  display: block;
  margin: auto;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 55px;
}
